<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=EntityFrameworkExtrasTests; Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>     
</configuration>